body { background-color: #84DCC8}
h1 { color: brown; text-align: center;}
h2 { color: blue; text-shadow:2px 2px 2px gray;}
ul { border: 1px dotted;}
a { text-decoration: none; }
footer {background-color: orange;
    border-radius: 10px;}
p {font-family: "휴먼편지체"; }
