body {
  	padding: 0px;
  	margin: 0px;
  	height: 100%;
  }
div.page-header {
  text-align: center;
}
header {background-color: yellow;
  margin-top: 0px;
    }
    form {
     	height : 80%;
    	background : pink;
    	border : 1px none;
    	margin : 10px;
    }.
#Copyright {
  background-color: mediumorchid;
  padding: 20px 20px 20px 0px;
}

h2 {
  text-align: center;
}
